django>=5.0
djangorestframework
djangorestframework-simplejwt
django-cors-headers
pandas
numpy
scikit-learn
joblib
requests
beautifulsoup4
google-generativeai
drf-spectacular
gunicorn
psycopg2-binary

